[Desktop Entry]
Icon=text-html
Name=https://www.notion.so/terminal-364c325d400380d69ffaca3e19235ef7
Type=Link
URL[$e]=https://www.notion.so/terminal-364c325d400380d69ffaca3e19235ef7
